div {
  background: red;
}

mark.red {
  background-color: red;
}

mark.lime {
  background-color: lime;
}

centertext {
  text-align: center;
}

.spaceleftbook{
  display:inline-block;width:10;
}
table {
  border-collapse: collapse;
}