.imageTable {
  background-color: hsla(128, 100%, 50%, 0.144);
  
}

.imageCol {
  background-color: hsla(128, 100%, 50%, 0.144);
  
}

mark.red {
  background-color: red;
}

mark.lime {
  background-color: lime;
}

centertext {
  text-align: center;
}

.spaceleftbook{
  display:inline-block;width:10;
}
table {
  border-collapse: collapse;
  background-color: hsla(128, 100%, 50%, 0.144);
}

body {
  background-image: url("https://stackblitz.com/files/html5andcss3/github/bidangol/HTML5/master/image/RedDeathPng.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

table {
  color:blue
}